* {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #98fcc0;
    gap: 2.5vmax;
}

nav {
    height: 5vmax;
    width: 100%;
    background: linear-gradient(to right, #344dba, #764ba2);
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    z-index: 20;
}

nav #logo-img {
    width: 6vmax;
}

body h1 {
    margin-top: 10vmax;
    font-size: 3vmax;
}

.container {
    height: auto;
    width: 35%;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    border: 2px solid black;
    border-radius: 20px;
    background-image: linear-gradient(to right, rgb(205, 246, 101), rgb(176, 222, 184), rgb(81, 229, 229));
    gap: 1.2vmax;
    align-items: center;
}

.container p {
    font-size: 1.8vmax;
}

.container input {
    width: 92%;
    font-size: 1.8vmax;
    padding: 5px;
    text-align: center;
}

.container button {
    font-size: 1.8vmax;
    padding: 0.46vmax 1vmax;
    background-color: orange;
    border: 1px solid darkred;
    color: white;
    cursor: pointer;
    border: none;
}

.container button:hover {
    background-color: rgb(255, 95, 2);
}

.container .sub-container {
    display: flex;
    gap: 5px;
    align-items: center;
}

.container #task-area {
    width: 80%;
    display: flex;
    flex-direction: column;
    /* background-color: #70cf9a; */
    gap: 0.5vmax;
}

.container #task-area input {
    display: inline-block;
    width: 0.8em;
    height: 0.8em;
    /* margin-right: 0.7em; */
    vertical-align: middle;
    accent-color: #344dba;
}

.container #task-area h2 {
    display: inline;
    font-weight: 450;
    color: navy;
}


footer {
    margin-bottom: 1.5rem;
    font-size: 0.875rem;
    text-align: center;
    color: #2a2b2d;
}

footer p a {
    text-decoration: none;
    color: #0c348c;
}

footer p a:hover {
    text-decoration: underline;
}